.App{
    
    width:35vw;
    height:80vh;
    margin: auto;
    margin-top: 6%;
    margin-bottom: -10%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}
.todos{
    height:58%;
    width:90%;
    /* background-color: bisque; */
    margin: auto;
    margin-top: 5%;
    overflow: scroll;
}